body {
    background-color: #3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family:cursive;
}

.contenedor {
    width: 100%;
    max-width: 800px; 
    margin: 40px auto; 
}